.Canvas {
  margin: 30px;
}

.Row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #686868;
}

.Horizontal {
  width: 25px;
  height: 5px;
}

.Vertical {
  width: 5px;
  height: 25px;
}

.Square {
  width: 30px;
  height: 25px;
  text-align: center;
}

.Horizontal:hover {
  background-color: #686868;
}

.Vertical:hover {
  background-color: #686868;
}

.Red {
  background-color: rgb(255, 0, 0);
}

.Blue {
  background-color: rgb(0, 0, 255);
}

.Blue-text {
  color: rgb(0, 0, 255);
}

.Red-text {
  color: rgb(255, 0, 0);
}